{% extends "bootstrap/base.html" %}


{% block styles %}
{{ super() }}
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='app.js') }}"></script>
  <script>
    window.addEventListener('load', () => {
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.controller.postMessage({ action: 'clearCache' });
      }
    });
  </script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="jumbotron text-center p-4">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Online Image Gallery</h2>
          <a href="{{ url_for('logout') }}" class="btn btn-secondary">Logout</a>
        </div>
      </div>
    </div>
    <div class="col-lg-9 text-center">
      <h5>
        Proyek AMBW
      </h5>
    </div>
    <div class="col-lg-7 text-center">
      <a href="{{ url_for('upload') }}" class="btn btn-primary m-3">Upload Images</a>
      <a href="{{ url_for('gallery') }}" class="btn btn-primary m-3">Image Gallery</a>
    </div>
  </div>
</div>
 
{% endblock %}
